html, body {
  font-family: 'Arimo', sans-serif;
}
body {
  padding-bottom: 10px;
}
.jumbotron {
  background-image: url("../images/kyle.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 10%;
  height: 100vh;
  padding-top: 0 !important;
}
.jumbotron .container {
  bottom: 0;
  text-align: center;
}
.nav > li > a {
  color: white;
}
.nav > li > a:hover {
  background: #00B7E6;
}
.nav > li > a:focus {
  background: #999;
  outline: none;
}
.img-thumbnail {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.img-thumbnail:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.contact .contactlink {
  text-align: center;
}
a {
  color: #333;
}
a:hover, h3 {
  color: #00B7E6;
}
h3 {
  text-align: center;
}
.talkbubble {
   width: 100%;
   padding: 5px;
   background: #00B7E6;
   color: white;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
.talkbubble:before {
   content:"";
   position: absolute;
   right: 35%;
   top: -19px;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
   border-right: 30px solid #00B7E6;
   border-bottom: 3px solid transparent;
}
.row {
  margin-bottom: 20px;
}
.footer .col h5 {
  text-align: center;
  background: #333;
  color: white;
  padding: 10px;
}
.scrollToTop{
	font-weight: bold;
	color: #CCC;
	text-decoration: none;
	position: fixed;
	bottom: 100px;
	right: 0;
	display: none;
}
.scrollToTop:hover{
	text-decoration:none;
}
.footer i {
  color: #00B7E6;
}
/*.curvedarrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid red;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
.curvedarrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid red;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}*/
.skills, .resume {
  background: #333;
  color: white;
}
@media (max-width: 768px) {
  .spacer {
    margin-top: 40px;
  }
}
/* colors to use:
purple: #3A2E39
orange: #FFBF69
