html, body {
  font-family: 'Arimo', sans-serif;
}
body {
  padding-bottom: 10px;
}
.jumbotron {
  background-image: url("../images/kyle.png");
  background-size: cover;
  background-position: 50% 10%;
  height: 100vh;
  padding-top: 0 !important;
}
.jumbotron .container {
  position: absolute;
  bottom: 0;
  text-align: center;
}
.nav > li > a {
  color: white;
}
.nav > li > a:hover {
  background: #00B7E6;
}
.img-thumbnail {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.img-thumbnail:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.contact .contactlink {
  text-align: center;
}
a {
  color: black;
}
a:hover, h3 {
  color: #00B7E6;
}
.talkbubble {
   width: 100%;
   padding: 5px;
   background: #00B7E6;
   color: white;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
.talkbubble:before {
   content:"";
   position: absolute;
   right: 35%;
   top: -19px;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
   border-right: 30px solid #00B7E6;
   border-bottom: 3px solid transparent;
}
.row {
  margin-bottom: 20px;
}
.footer .col h3 {
  text-align: center;
}
/* colors to use:
purple: #3A2E39
orange: #FFBF69
